<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - Dashboard</title>

    <environment include="Development">
        <!-- Favicon-->
        <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
        <!-- Bootstrap Core Css -->
        <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <!-- CKEditor4 -->
        <link href="~/plugins/ckeditor/contents.css" rel="stylesheet" />
        <!-- Waves Effect Css -->
        <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />
        <!-- Animation Css -->
        <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />
        <!-- Morris Chart Css-->
        <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />
        <!-- Custom Css -->
        <link href="~/css/style.css" rel="stylesheet" />
        <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
        <link href="~/css/themes/all-themes.css" rel="stylesheet" />
    </environment>
</head>
<body class="theme-teal">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-pink">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <partial name="_PartialTopBarMenu" />
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <partial name="_PartialLeftSidebar" />
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <partial name="_PartialRightSidebar" />
        <!-- #END# Right Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- Content Body -->
            @RenderBody()
            <!-- #END# Content Body -->
        </div>
    </section>

    <environment include="Development">
        <!-- CKEditor4 -->
        <script src="~/plugins/ckeditor/ckeditor.js" asp-append-version="true"></script>
        <!-- Jquery Core Js -->
        <script src="~/plugins/jquery/jquery.min.js" asp-append-version="true"></script>
        <!-- Bootstrap Core Js -->
        <script src="~/plugins/bootstrap/js/bootstrap.min.js" asp-append-version="true"></script>
        <!-- Select Plugin Js -->
        <script src="~/plugins/bootstrap-select/js/bootstrap-select.min.js" asp-append-version="true"></script>
        <!-- Slimscroll Plugin Js -->
        <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
        <!-- Waves Effect Plugin Js -->
        <script src="~/plugins/node-waves/waves.min.js" asp-append-version="true"></script>
        <!-- Jquery CountTo Plugin Js -->
        <script src="~/plugins/jquery-countto/jquery.countTo.js" asp-append-version="true"></script>
        <!-- Morris Plugin Js -->
        <script src="~/plugins/raphael/raphael.min.js" asp-append-version="true"></script>
        <script src="~/plugins/morrisjs/morris.min.js" asp-append-version="true"></script>
        <!-- ChartJs -->
        <script src="~/plugins/chartjs/Chart.bundle.min.js" asp-append-version="true"></script>
        <!-- Flot Charts Plugin Js -->
        <script src="~/plugins/flot-charts/jquery.flot.js" asp-append-version="true"></script>
        <script src="~/plugins/flot-charts/jquery.flot.resize.js" asp-append-version="true"></script>
        <script src="~/plugins/flot-charts/jquery.flot.pie.js" asp-append-version="true"></script>
        <script src="~/plugins/flot-charts/jquery.flot.categories.js" asp-append-version="true"></script>
        <script src="~/plugins/flot-charts/jquery.flot.time.js" asp-append-version="true"></script>
        <!-- Sparkline Chart Plugin Js -->
        <script src="~/plugins/jquery-sparkline/jquery.sparkline.js" asp-append-version="true"></script>
        <!-- Custom Js -->
        <script src="~/js/admin.js" asp-append-version="true"></script>
        <script src="~/js/pages/index.js" asp-append-version="true"></script>
        <!-- Demo Js -->
        <script src="~/js/demo.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
