
<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
        <div class="image">
            <img src="~/images/user.png" width="48" height="48" alt="User" />
        </div>
        <div class="info-container">
            <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">John Doe</div>
            <div class="email">john.doe@example.com</div>
            <div class="btn-group user-helper-dropdown">
                <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                <ul class="dropdown-menu pull-right">
                    <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- #User Info -->
    <!-- Menu -->
    <div class="menu">
        <ul class="list">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active">
                <a asp-area="DashboardAreas" asp-controller="Dashboard" asp-action="DashboardIndex">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">widgets</i>
                    <span>Articles Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a asp-area="DashboardAreas" asp-controller="Dashboard" asp-action="MakeArticles">
                            <i class="material-icons">chat_bubble</i>
                            <span>Making Articles</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <span>Manage Articles</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a href="#">Articles List</a>
                            </li>
                            <li>
                                <a href="#">Update Articles</a>
                            </li>
                            <li>
                                <a href="#">Remove Articles</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:void(0);" class="menu-toggle">
                    <i class="material-icons">map</i>
                    <span>Users Management</span>
                </a>
                <ul class="ml-menu">
                    <li>
                        <a href="#">Users List</a>
                    </li>
                    <li>
                        <a href="#">Update Users</a>
                    </li>
                    <li>
                        <a href="#">Remove Users</a>
                    </li>
                </ul>
            </li>
            <li class="header">LABELS</li>
            <li>
                <a href="javascript:void(0);">
                    <i class="material-icons col-red">donut_large</i>
                    <span>Important</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="material-icons col-amber">donut_large</i>
                    <span>Warning</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0);">
                    <i class="material-icons col-light-blue">donut_large</i>
                    <span>Information</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- #Menu -->
    <!-- Footer -->
    <div class="legal">
        <div class="copyright">
            &copy; @DateTime.Now.Year <a href="javascript:void(0);">YUSAN BLOGGER</a>.
        </div>
        <div class="version">
            <b>Priview Version </b> @*1.0.0*@
        </div>
    </div>
    <!-- #Footer -->
</aside>