
<ul class="links">
    <li>
        <a href="#">Home</a>
    </li>
    <li>
        <a href="#">Landing</a>
    </li>
    <li>
        <a href="#">Generic</a>
    </li>
    <li>
        <a href="#">Elements</a>
    </li>
</ul>
